{% extends 'base.html' %}

{% block title %}Detalhes Serviços{% endblock %}

{% block content %}
    {% for servico in carro.servicos.all %}
        <h3>Serviços</h3>
        <p>Serviço: {{servico.serviço}}</p>
        <p>Descrição: {{servico.descrição}}</p>
        <p>Status: {{servico.status}}</p>
        <p>Valor: {{servico.valor_serviço}}</p>
        <p><a href="/editarservico/{{servico.id}}">Editar Serviço</a></p>
        

    {% endfor %}
    <a href="{% url 'novoservico' carro.id%}">Adicionar Serviço </a>
    
    

{% endblock%}
